
@import "base/reset";
@import "base/fonts";
@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/magnific-popup/dist/magnific-popup";
@import "../node_modules/retinajs/dist/_retina.scss";

@import "base/common";

.container{
    @include respond-to(desktop){
        width: 1280px;
    }
    @include respond-to(mobile){
        width: 100%;
    }
    @include respond-to(tablet){
        width: 100%;
    }
    margin: 0 auto;
    position: relative;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 1;

    &__container{
        @include clearfix();
        padding-top: 50px;
        @include respond-to(mobile){
            padding-top: 19px;
        }
    }
    &__logo{
        margin-left: 36px;
        display: inline-block;
        @include respond-to(mobile){
            margin-left: 8px;
            width: 96px;
        }
    }
    &__menu-icon{
        position: absolute;
        right: 20px;
        top: 21px;
    }
    &__menu{
        display: inline-block;
        float: right;
        margin-right: 59px;
        @include respond-to(mobile){
            margin-right: unset;
            float: none;
            display: none;
            width: 100%;
            height: 100%;
            background-color: #333;
            opacity: 0.95;
            position: fixed;
            left:0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            &.open{
                display: block;
            }
            &-close{
                background: url("../img/close-popup-icon.svg") no-repeat center center;
                position: absolute;
                top: 0;
                right: 0;
                width: 35px;
                height: 35px;
            }

        }

    }
    .menu{
        display: inline-block;
        vertical-align: super;
        margin-left: 17px;
        @include respond-to(mobile){
            text-align: center;
            margin-top: 55px;
            display: block;
            margin-left: 0;
        }
        &__item{
            margin: 0 0px;
            display: inline-block;

            @include respond-to(mobile){
                display: block;
            }
            a{
                margin-top: 3px;
                transition: 0.5s;
                padding: 5px 14px;
                color: #ffffff;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                display: inline-block;
                &:hover{
                    color: #baca05;
                }
                @include respond-to(mobile){
                    margin-top: 0px;
                    color: #dedede;
                    font-family: "Wuerth Book";
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 44px;
                    &:hover, &.active{
                        color: $white;
                    }
                    &.open{
                        display: block;
                    }
                    &-close{
                        background: url("../img/close-popup-icon.svg") no-repeat center center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 35px;
                        height: 35px;
                    }
                }
                @include respond-to(tablet){
                    padding: 5px 5px;
                }
            }
        }

    }

}


.top{
    background: $red;
    &__container{
        @include retina('../img/top-bg.png', 2, 445px 472px, 754px bottom no-repeat);
        //background: url(../img/top-bg.png) no-repeat 754px bottom;
        padding-top: 131px;
        padding-bottom: 68px;
        @include respond-to(mobile){
            background: none;
            padding: 112px 0 157px;
        }
        @include respond-to(tablet){
            background: none;
        }
    }
    &__content{
        @include respond-to(desktop) {
            position: relative;
            width: 490px;
            margin-left: 113px;
        }
        @include respond-to(mobile){
            text-align: center;
        }
    }
    &__dates{
        margin-bottom: 25px;
        padding-left: 76px;
        color: #b9c900;
        font-family: "Wuerth Book";
        font-size: 36px;
        font-weight: 300;
        @include respond-to(mobile){
            text-align: center;
            font-size: 29px;
            padding: 0;
            margin-bottom: 17px;
        }
        @include respond-to(tablet){
            text-align: center;
            padding-left: 0;
        }
    }
    &__divider{
        width: 482px;
        height: 3px;
        background: url("../img/divider.svg") no-repeat 0 0 ;
        @include respond-to(mobile){
            width: calc(100% - 20px);
            margin: 0 10px;
        }
        @include respond-to(tablet){
            margin: 0 auto;
        }
    }
    &__text{
        color: #ffffff;
        font-family: "Wuerth Extra Bold Cond";
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        @include respond-to(mobile){
            font-size: 24px;
        }
        @include respond-to(tablet){
            text-align: center;
        }
        &--1{
            margin: 12px 0 19px;
            @include respond-to(mobile){
                margin: 20px 0 13px;
            }
        }
        &--2{
            text-align: center;
            margin-top: 15px;
            @include respond-to(mobile){
                margin-top: 20px;
            }
        }
    }
    &__percent{
        margin-top: 19px;
        color: #ffffff;
        font-family: "Wuerth Extra Bold Cond";
        font-size: 80px;
        font-weight: 700;
        text-align: center;
        @include respond-to(mobile){
            font-size: 58px;
            margin-top: 19px;
        }
    }
    &__info{
        width: 562px;
        border-top: 1px solid $white;
        color: #ff9f9f;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        margin-top: 18px;
        margin-left: 81px;
        padding: 10px;
        @include respond-to(mobile){
            width: calc(100% - 30px);
            margin: 25px 15px 0;
            line-height: 18px;
            font-size: 12px;
        }
        @include respond-to(tablet){
            margin: 18px auto 0;
        }
    }
    &__package{
        height: 78px;
        background-color: #eeeeee;
        @include respond-to(tablet){
            height: 78px;
        }
    }
    .package{
        &__packet{
            position: absolute;
            z-index: 2;
            width: 221px;
            height: 145px;
            left: 81px;
            top: -66px;
            @include respond-to(mobile){
                width: 218px;
                height: 138px;
                left: 53px;
                top: -138px;
                z-index: unset;
            }
            @include respond-to(tablet){
                top: -47px;
                height: 141px;
            }
        }
        &__text{
            margin-left: 317px;
            @include respond-to(mobile){
                left: 53px;
                margin: 0;
                text-align: center;
            }
        }
        &__title{
            color: #333333;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 36.8px;
            padding-top: 16px;
            @include respond-to(mobile){
                font-size: 15px;
                font-weight: 700;
                line-height: 27px;
                padding-top: 4px;
            }
            @include respond-to(tablet){
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                padding-top: 24px;
            }
        }
        &__description{
            color: #333333;
            font-family: Roboto;
            font-size: 12px;
            line-height: 5px;
            @include respond-to(mobile){
                font-size: 12px;
                line-height: 18px;
            }
            @include respond-to(tablet){
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

.gifts{
    //background: url("../img/gifts-bg.png") bottom left #fff repeat-x;
    @include retina('../img/gifts-bg.png', 2, 398px 398px, bottom left #fff repeat-x);
    padding-top: 70px;
    padding-bottom: 122px;
    @include respond-to(mobile){
        padding-top: 28px;
    }
    @include respond-to(tablet){
        padding-bottom: 20px;
    }
    &__container{
        overflow: hidden;
    }
    &__title{
        color: #333333;
        font-family: "Wuerth Bold";
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        @include respond-to(mobile){
            font-size: 24px;
            line-height: 34px;
        }
    }
    &__description{
        color: #333333;
        font-family: Roboto;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-top: 22px;
        margin-bottom: 70px;
        @include respond-to(mobile){
            font-size: 16px;
            line-height: 25px;
            margin-top: 13px;
        }
    }
    .subcategories{
        height: 366px;
        display: none;
        overflow: visible;
        //background: url("../img/gifts-bg.png") top left #fff repeat-x;
        @include retina('../img/gifts-bg.png', 2, 398px 398px, top left #fff repeat-x);
        position: relative;
        @include clearfix();
        @include respond-to(mobile){
            @include retina('../img/gifts-bg.png', 2, 398px 398px, top left #fff repeat);
            //background: url("../img/gifts-bg.png") top left #fff repeat;
        }
        &.open{
            display: block;
        }
        &__container{
            @include clearfix();
            padding: 41px 199px 99px;
            @include respond-to(mobile){
                padding: 41px 0 0 0;
            }
            @include respond-to(tablet){
                padding: 40px calc((100% - 748px)/2) 30px;
            }
        }
        .subcategory{
            transition: 0s;
            float: left;
            margin: 0 15.5px ;
            width: 263px;
            height: 226px;
            cursor: pointer;
            position: relative;
            @include respond-to(mobile){
                float:none;
                height: unset !important;
                margin: 18px auto;
            }
            @include respond-to(tablet){
                width: 220px;
                height: 226px;
                margin: 0 14.5px ;
            }
            &.open{
                height: 344px;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                .title{
                    color: $white;
                }
                .image-wrapper{
                    border: none;
                    box-shadow: none;
                }
            }

            &__title{
                text-align: center;
                color: #333333;
                font-family: "Wuerth Book";
                font-size: 28px;
                font-weight: 300;
                line-height: 36.8px;
                padding-top: 233px;
            }
            .image{
                width: 100%;
                height: 100%;
                display: block;
                transition: 0.2s
            }
            .image-wrapper{
                position: absolute;
                width:100%;
                height: 226px;
                border-radius: 4px;
                transition: 0s;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                overflow: hidden;
                ;
            }
            &:hover{
                .image {
                    transform: scale(1.2);
                }
            }
        }
        &--1{

            @include respond-to(mobile){
                height: unset;
            }
            .subcategory{
                &--1{
                    &.open{
                        background-color: #009ee0;
                    }
                    .image{
                        //background: url(../img/subcategory-1-1.png) no-repeat 60px 40px #009ee0;
                        @include retina('../img/subcategory-1-1.png', 2, 140px 145px,  no-repeat 60px 40px #009ee0);
                        @include respond-to(tablet){
                            @include retina('../img/subcategory-1-1.png', 2, 140px 145px,  no-repeat 40px 40px #009ee0);
                        }
                    }
                }
                &--2{
                    &.open{
                        background-color: #383838;
                    }
                    .image {
                        //background: url("../img/subcategory-1-2.png") no-repeat left top #383838;
                        @include retina('../img/subcategory-1-2.png', 2, 263px 226px,  no-repeat left top #383838);
                        background-size: contain;
                    }
                }
                &--3{
                    &.open{
                        background-color: #b9c900;
                    }
                    .image {
                        //background: url(../img/subcategory-1-3.png) no-repeat 40px 40px #b9c900;
                        @include retina('../img/subcategory-1-3.png', 2, 156px 170px,  no-repeat 40px 40px #b9c900);
                        @include respond-to(tablet){
                            @include retina('../img/subcategory-1-3.png', 2, 156px 170px,  no-repeat 25px 40px #b9c900);
                            //background: url(../img/subcategory-1-3.png) no-repeat 25px 40px #b9c900;
                        }
                    }
                }
            }
        }
        &--2{
            @include respond-to(mobile){
                height: unset;
            }
            .subcategory{
                &--1{
                    &.open{
                        background-color: #dedede;
                    }
                    .image{
                        @include retina('../img/subcategory-2-1.png', 2, 185px 142px,  no-repeat 25px 55px #dedede);
                        //background: url(../img/subcategory-2-1.png) no-repeat 25px 55px #dedede
                    }
                }
                &--2{
                    &.open{
                        background-color: #b9c900;
                    }
                    .image {
                        @include retina('../img/subcategory-2-2.png', 2, 156px 164px,  no-repeat 50px 40px #b9c900);
                        //background: url(../img/subcategory-2-2.png) no-repeat 50px 40px #b9c900;
                        @include respond-to(tablet){
                            @include retina('../img/subcategory-2-2.png', 2, 156px 164px,  no-repeat 35px 40px #b9c900);
                            //background: url(../img/subcategory-2-2.png) no-repeat 35px 40px #b9c900;
                        }
                    }
                }
                &--3{
                    &.open{
                        background-color: #009ee0;
                    }
                    .image {
                        @include retina('../img/subcategory-2-3.png', 2, 263px 226px,  no-repeat left top #009ee0);
                        //background: url(../img/subcategory-2-3.png) no-repeat left top #009ee0;
                    }
                }
            }
        }
        &--3{
            @include respond-to(mobile){
                height: unset;
            }
            /*.container {
                padding: 41px 199px 99px;
                @include respond-to(mobile){
                    padding: 36px 0 0 0;
                }
            }*/
            .subcategory{

                &--1{
                    &.open{
                        background-color: #b9c900;
                    }
                    .image {
                        @include retina('../img/subcategory-2-2.png', 2, 156px 164px,  no-repeat 50px 40px #b9c900);
                        //background: url(../img/subcategory-2-2.png) no-repeat 50px 40px #b9c900;
                        @include respond-to(tablet){
                            @include retina('../img/subcategory-2-2.png', 2, 156px 164px,  no-repeat 35px 40px #b9c900);
                            //background: url(../img/subcategory-2-2.png) no-repeat 35px 40px #b9c900;
                        }
                    }
                }
                &--2{
                    &.open{
                        background-color: #383838;
                    }
                    .image {
                        @include retina('../img/subcategory-1-2.png', 2, 263px 226px,  no-repeat left top #383838);
                        //background: url("../img/subcategory-1-2.png") no-repeat left top #383838;
                        //background-size: contain;
                    }
                }
                &--3{
                    &.open{
                        background-color: #009ee0;
                    }
                    .image {
                        //background: url(../img/subcategory-3-3.png) no-repeat 40px 38px #009ee0;
                        @include retina('../img/subcategory-3-3.png', 2, 156px 169px,  no-repeat 40px 38px #009ee0);
                        @include respond-to(tablet){
                            @include retina('../img/subcategory-3-3.png', 2, 156px 169px,  no-repeat 33px 38px #009ee0);
                        }
                    }
                }
            }
        }
        .insert-products{
            display: none;
            &.open{
                margin-top:-50px;
                z-index: 0;
                display: block;
            }
        }
    }
    .category{
        cursor:pointer;
        @include clearfix();
        box-shadow: 0 3px 5px rgba(96, 93, 92, 0.44);
        //border-top: 1px solid #dedede;
        //border-bottom: 1px solid #dedede;
        height: 188px;

        @include respond-to(mobile){
            height: unset;
        }
        &__text{
            background: $white;
            height: 187px;
            border-top: 1px solid #dedede;
            position: absolute;
            @include respond-to(mobile){
                position: relative;
            }
        }
        &__picture{
            position: absolute;
            background: #333333;
            height: 188px;

            overflow: visible;
            @include respond-to(mobile){
                position: relative;
                height: 40px;
            }
            .image{
                position: absolute;
                z-index: 2;
                @include respond-to(mobile){
                    display: none;
                }
            }

        }
        &__title{
            color: #000000;
            font-family: "Wuerth Bold";
            font-size: 28px;
            font-weight: 700;
            line-height: 36.8px;
            text-transform: uppercase;
            @include respond-to(mobile){
                font-size: 24px;
            }
        }
        &__description{
            color: #333333;
            font-family: Roboto;
            font-size: 16px;
            line-height: 26.4px;
            margin-top: 9px;
            @include respond-to(mobile){
                font-size: 14px;
                line-height: 22px;
            }
        }
        &__toggler{
            padding-top: 18px;
            @include respond-to(mobile){
                position: absolute;
                bottom: 10px;
                right: 10px;
                margin: 0 !important;
            }
            .show,.hide{
                transition: 0.5s;
                cursor: pointer;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 26.4px;
                &:hover{
                    opacity: 0.7;
                }
                img{
                    vertical-align: middle;
                    margin-left: 8px;
                }
            }
            .show{
                color: $red;
                display: inline;
            }
            .hide{
                display: none;
                color: $black
            }
        }
        .text__wrapper{
            @include respond-to(mobile){
                width: 100%;
                float:none;
                padding: 15px 0 0 10px !important;
            }
        }
        &.open{
            .show{
                display: none;
            }
            .hide{
                display: inline;
            }
        }
        &__level{
            @include clearfix();
            &--1{
                background: url("../img/gifts-bg.png") top left #fff repeat-x;
            }
        }
        &--1{
            .image-wrapper{
                max-width: 100%;
                overflow-x: hidden;
            }
            .image{
                left: 130px;
                top: -71px;;
                @include respond-to(tablet){
                    left: 8px;
                }
            }
            .toggler{
                text-align: right;
                margin-right: 69px;
                @include respond-to(mobile){
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    margin: 0 !important;
                }
                @include respond-to(tablet){
                    padding-left: 21px;
                    float:left;
                }
            }
        }
        &--2{
            .image{
                right: 256px;
                top: -57px;
                @include respond-to(tablet){
                    right:20px;
                }
            }
        }
        &--3{
            .image{
                left: 64px;
                top: 0px;
                height: 234px;
            }
            .toggler{
                position: absolute;
                right: 69px;
                top: 130px;
                @include respond-to(mobile){
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    margin: 0 !important;
                }
                @include respond-to(tablet){
                    position: relative;

                }
            }
        }
        &--4{
            @include respond-to(tablet){
                height: 240px;
                .category__picture{
                    height: 238px;
                }
                .category__text{
                    height: 238px;
                }
                .text__wrapper{
                    padding-top: 48px !important;
                }
            }
            .image{
                right: 250px;
                top: 0;
                @include respond-to(tablet){
                    right: 20px;
                    overflow-x: hidden;
                }
            }

        }
        &--1,&--3{
            .text{
                width: calc(50% + 14px);
                left: 0;
                @include respond-to(mobile){
                    width: 100%;
                }
                &__wrapper{
                    width:653px;
                    float:right;
                    padding-top: 29px;
                    padding-left: 155px;
                    @include respond-to(mobile){
                        width: 100%;
                        float:none;
                        padding: unset;
                    }
                    @include respond-to(tablet){
                        width: 489px;
                        float: right;
                        padding-top: 25px;
                        padding-left: 27px
                    }
                }
            }
            .picture{
                width: calc(50% - 14px);
                left: calc(50% + 14px);
                @include respond-to(mobile){
                    width: 100%;
                    left: 0;
                }
            }
        }
        &--2,&--4{
            .text{
                width: calc(50% + 14px);
                left: calc(50% - 14px);
                @include respond-to(mobile){
                    width: 100%;
                    left: 0;
                }
                &__wrapper{
                    padding-left: 131px;
                    padding-top: 29px;
                    @include respond-to(mobile){
                        padding: 0;
                    }
                    @include respond-to(tablet){
                        padding-left: 27px;
                    }
                }
            }
            .picture{
                width: calc(50% - 14px);
                left: 0;
                @include respond-to(mobile){
                    width: 100%;
                }
            }
        }

    }
    .products{
        display: none;
        transition: 0.2s;
        @include clearfix();
        padding-top: 34px;
        padding-bottom: 95px;
        @include retina('../img/products-bg.png', 2, 368px 368px, repeat left top);
        //background-image: url("../img/products-bg.png");
        //background-position: top left;
        &.open{
            display: block;
            transition: 0.2s;
        }
        &--blue{
            background-color: #009ee0;
        }
        &--green{
            background-color: #b9c900;
        }
        &--black{
            background-color: #333333;
        }
        &--grey{
            background-color: #dedede;
        }
        &__container{
            @include clearfix;
            padding: 0 105px;
            @include respond-to(mobile){
                padding: 0 15px;
            }
            @include respond-to(tablet){
                padding: 0 0px;
            }
        }
    }
    .product{
        margin: 19px;
        width: 229px;
        height: 367px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        background-color: #ffffff;
        float:left;
        padding: 24px 20px;
        transition: 0.3s;
        @include respond-to(mobile){
            //width: 229px !important;
            margin:19px auto !important;
        }
        @include respond-to(tablet){
            //width: 229px !important;
            margin:13px;
        }
        &:hover{
            box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
        }
        &__image-wrapper{
            text-align: center;
            height: 150px;
            img{
                max-height: 145px;
            }
        }
        &__title{
            color: #000000;
            font-family: "Wuerth Book";
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            height: 75px;
        }
        &__price-wrapper{
            @include clearfix();
            height: 55px;
        }
        &__old-price{
            width: 40%;
            display: inline-block;
            color: #333333;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            text-decoration: line-through;
        }
        &__price{
            text-align: right;
            display: inline-block;
            width: 60%;
            color: #cc0000;
            font-family: "Wuerth Bold";
            font-size: 27px;
            font-weight: 700;
            line-height: 45px;
            .rouble{
                font-size: 24px;
            }
        }
        &__btn{
            transition: 0.3s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            background-color: #333333;
            text-align: center;
            color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            padding: 12px 0;
            cursor: pointer;
            &:hover{
                background-color: #515151;
            }
        }
    }
    @include respond-to(desktop){
        .product--horizontal{
            width: 496px;
            height: 178px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            background-color: #ffffff;
            float:left;
            padding: 24px 20px;
            transition: 0.3s;
            @include clearfix();
            &:hover{
                box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
            }
            .product__image-wrapper{
                text-align: center;
                height: 130px;
                width: 169px;
                float: left;
            }
            .product__content-wrapper{
                float: left;
            }
            .product__title{
                width: 280px;
                color: #333333;
                font-family: "Wuerth Book";
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                height: 46px;
                padding-left: 10px;
            }
            .product__price-wrapper{
                @include clearfix();
                height: 45px;
                padding-left: 105px;
            }
            .product__old-price{
                width: 50%;
                display: inline-block;
                color: #333333;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
            }
            .product__price{
                text-align: right;
                display: inline-block;
                width: 50%;
                color: #cc0000;
                font-family: "Wuerth Bold";
                font-size: 27px;
                font-weight: 700;
                line-height: 45px;
                .rouble{
                    font-size: 24px;
                }
            }
            .product__btn{
                margin-left: 98px;
                width: 189px;
                transition: 0.3s;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                background-color: #333333;
                text-align: center;
                color: #ffffff;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                padding: 12px 0;
                cursor: pointer;
                &:hover{
                    background-color: #515151;
                }
            }
        }
    }

    .lodgements{
        display: none;;
        @include clearfix();
        &.open{
            display: block;
        }
        &__container{
            padding: 59px 36px 0;
            @include respond-to(mobile){
                padding: 24px 8px 0;
            }
            @include respond-to(tablet){
                padding: 24px 8px 0;
            }
        }
        &__products{
            display: inline-block;
            float: left;
            @include respond-to(mobile){
                padding:0 calc((100% - 219px) / 2);
            }
            @include respond-to(tablet){

                display: block;
                width: 100%;
            }
            .product{
                @include respond-to(tablet){
                    width: 597px !important;

                    margin: 0 calc((100% - 597px) / 2);
                    &--horizontal{
                        width: 496px;
                        height: 178px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                        border-radius: 4px;
                        background-color: #ffffff;
                        float:left;
                        padding: 24px 20px;
                        transition: 0.3s;
                        @include clearfix();
                        &:hover{
                            box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
                        }
                        .product__image-wrapper{
                            text-align: center;
                            height: 130px;
                            width: 169px;
                            float: left;

                        }
                        .product__content-wrapper{
                            float: right;

                        }
                        .product__title{
                            width: 280px;
                            color: #333333;
                            font-family: "Wuerth Book";
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 20px;
                            height: 46px;
                            padding-left: 10px;
                        }
                        .product__price-wrapper{
                            @include clearfix();
                            height: 45px;
                            padding-left: 105px;
                        }
                        .product__old-price{
                            width: 50%;
                            display: inline-block;
                            color: #333333;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        .product__price{
                            text-align: right;
                            display: inline-block;
                            width: 50%;
                            color: #cc0000;
                            font-family: "Wuerth Bold";
                            font-size: 27px;
                            font-weight: 700;
                            line-height: 45px;
                            .rouble{
                                font-size: 24px;
                            }
                        }
                        .product__btn{
                            margin-left: 98px;
                            width: 189px;
                            transition: 0.3s;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                            border-radius: 4px;
                            background-color: #333333;
                            text-align: center;
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 12px 0;
                            cursor: pointer;
                            &:hover{
                                background-color: #515151;
                            }
                        }
                    }
                }
            }



        }
        &__info{
            margin: 19px;
            float: left;
            width: 597px;
            height: 178px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            background-color: #333333;
            color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            line-height: 24px;
            padding: 22px 11px 22px 16px;
            @include respond-to(mobile){
                width: calc(100% - 16px);
                height: 322px;
                margin: 19px 8px;
            }
            @include respond-to(tablet){
                display: block;
                width: 597px;
                margin:10px calc((100% - 597px) / 2);
            }
            p{
                &:first-of-type{
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.footer{
    &__container{
        padding-left: 111px;
        @include respond-to(mobile){
            padding: 0;
        }
    }
    a{
        color: $white;
    }
    padding-bottom: 59px;
    padding-top: 51px;
    color: $white;
    background: #333;
    @include respond-to(mobile){
        padding: 28px 33px 55px !important;
    }
    &__header{
        color: #ffffff;
        font-family: "Wuerth Bold";
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        @include respond-to(mobile){
          font-size: 12px;
        }
    }
    &__info{
        margin-bottom: 15px;
        font-family: "Wuerth - Book";
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        @include respond-to(mobile){
            font-size: 14px;
        }
    }
    .phones{
        &__info{
            margin-bottom: 15px;
            font-family: "Wuerth - Book";
            font-size: 16px;
            font-weight: 300;
            line-height: 23px;
            margin-top: 23px;
            @include respond-to(mobile){
                font-size: 12px;
            }
        }
    }
    ul{
        li{
            margin: 13px 0;
        }
    }
    &__menu{
        float: left;
        width: 26%;
        @include respond-to(mobile){
            width: 50%;
        }
    }
    .menu{
        &__item{
            margin-bottom: 15px;
            font-family: "Wuerth - Book";
            font-size: 16px;
            font-weight: 300;
            line-height: 23px;
            @include respond-to(mobile){
                font-size: 12px;
            }
        }
    }
    &__contacts{
        float: left;
        width: 21.7%;
        @include respond-to(mobile){
            width: 50%;
        }
        @include respond-to(tablet){
            width: 33%
        }
        &--2{
            padding-top: 31px;
            @include respond-to(mobile){
                text-align: left;
                width: 100%;
                padding-left: 0;
            }
            @include respond-to(tablet){
                width: 33%
            }
        }
    }

}

.popup{
    width: 700px;
    height: 535px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    @include respond-to(mobile){
        width: 100%;
        height: unset;
    }
    button.mfp-close{
        display: none;
    }
    &__close{
        right: 0;
        top:0;
        width: 50px;
        height: 50px;
        position: absolute;
        cursor: pointer;
        background: url("../img/close-popup-icon.svg") no-repeat 50% 50%;
        background-size: 30%;

    }
    &__header{
        color: #333333;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        padding: 18px 80px 1px;
        text-align: center;
        @include retina('../img/products-bg.png', 2, 30%, repeat left top #dedede);
        //background: url("../img/products-bg.png") left top #dedede;
        //background-size: 30%;
        @include respond-to(mobile){
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            padding: 31px 12px;
        }
    }
    .col{
        float: left;
        width: 50%;
        @include respond-to(mobile){
            float: none;
            width: 100%;
        }
    }
    &__addresses{
        padding: 15px 30px;
        @include respond-to(mobile){
            padding: 18px 12px;
        }
    }
    .adress-item{
        margin:12px 0;
        color: #333333;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        @include respond-to(mobile){
            font-size: 12px;
        }
        &__metro{
            color: $red;
        }
        &__email{
            color: #333;
        }
    }

    &__footer{
        text-align: right;
        margin-top: 20px;
        padding-right: 40px;
        @include respond-to(mobile){
            text-align: center;
            padding: 0;
            margin-bottom: 30px;
        }
    }
    &__btn{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        background-color: #b9c900;
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        transition: 0.3s;
        padding: 10px 63px;
        cursor: pointer;
        &:hover{
            background-color: #93c615;
        }
    }
}