$white: #ffffff;
$black: #000;
$red: #cc0000;
$hblue : #53b0ff;


$break-mobile: 767px;
$break-tablet: 1279px;

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin respond-to($media) {
    @if $media == not-mobile {
        @media only screen and (min-width: 768px) { @content; }
    }
    @if $media == mobile {
        @media only screen and (max-width: $break-mobile) { @content; }
    }
    @if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: $break-tablet) { @content; }
    }
    @if $media == desktop {
        @media only screen and (min-width: 1280px) { @content; }
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.slick-slide img {
    display: inline-block !important;
}
.visible-mobile{
    display: none;
    @include respond-to(mobile){
        display: block;
    }
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
}
a {
    text-decoration: none
}
.row {
    @include clearfix();
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.slick{
    &__btn{
        width: 32px;
        height: 50px;
        border-radius: 4px;
        opacity: 0.5;
        border: none;
        position: absolute;
        z-index: 99;
        &--prev{
            transform: rotate(180deg);
            background: url("../img/slick-next.svg") no-repeat 50% 50% #000;
            top: 40%;
            left: 10px;
        }
        &--next{
            top: 40%;
            right: 10px;
            background: url("../img/slick-next.svg") no-repeat 50% 50% #000;
        }
    }
}
.slick-slide {
    margin: 0 10px;
}
.slick-slider {
    > div {
        display : none;

        &:first-child {
            display: block;
        }
    }

    &.slick-initialized {
        > div {
            display: block;
        }
    }
}
.rouble{
    font-family: Roboto;
    font-weight: 400;
}
section {
    width: 100%;
}
.icon-close{
    transform: rotate(45deg);
}
.red{
    color: $red;
}
.arrow-down{
    width: 16px;
    height: 16px;
    background: url("../img/arrow-down.svg") 50% 100% no-repeat;
    display: inline-block;
    background-size: contain;
}
.arrow-up{
    width: 16px;
    height: 16px;
    background: url("../img/arrow-up.svg") 50% 100% no-repeat;
    display: inline-block;
    background-size: contain;
}
@media (max-width: 801px) {
    .form {
        &__group {
            margin: 10px 0;
            display: block;
        }
        &__success{
            display: none;
            &.active{
                display: block;
            }
            .btn{
                font-size: 11px;
                line-height: 40px;
                margin: 0 !important;
            }
        }
        &__text-input {
            width: 100%;
            border-radius: 4px;
            border: 1px solid #979797;
            background-color: #ffffff;
            padding: 10px 24px;
            color: #959595;
            font-family: "Wuerth - Book";
            font-size: 16px;
            font-weight: 300;
            //margin: 10px 0;
            &:focus {
                border-color : $hblue;
            }
            &.error {
                border-color : #ff0000;
                & + .form__input-error{
                    opacity : 1;
                }
            }
        }
    }
    .btn {
        color: #ffffff;
        font-family: "Wuerth - Bold";
        font-weight: 700;
        line-height: 34px;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;

        &--red {
            font-size: 18px;
            width: 100%;
            height: 40px;
            box-shadow: 0 10px 15px #000000, inset 0 1px 17px #ee4a4a;
            background-color: $red;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            display: block;
            &:hover, &:active{
                background-color: #ff3c3c;
            }
        }
        &--black-lg {
            display: block;
            width: 100% !important;
            height: 38px;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background: $black;
            &:hover,&:active{
                background-color: #4a4a4a;
            }
        }
        &--black-sm {
            width: 245px;
            height: 38px;
            border-radius: 4px;
            font-size: 14px;
            text-transform: uppercase;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background: $black;
            &:hover,&:active{
                background-color: #4a4a4a;
            }
        }
        &--white{
            width: 100%;
            height: 40px;
            border-radius: 8px;
            border: 3px solid #ffffff;
            background: transparent;
            color: $white;
            font-family: "Wuerth Bold";
            font-size: 16px;
            font-weight: 700;
            line-height: 34px;
            text-transform: uppercase;
        }
        &--gift{
            width: 100%;
            height: 40px;
            border-radius: 8px;
            border: 3px solid $red;
            background: transparent;
            color: $red;
            font-family: "Wuerth Bold";
            font-size: 16px;
            font-weight: 700;
            line-height: 34px;
            text-transform: uppercase;
        }
    }
}